.home{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../assets/rome.jpg');
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-text{
    text-align: center;
    max-width: 800px;

}
.home-text h1{
    font-size: 40px;
    font-weight: 800;
}
.home-text p{
    font-size: large;
    max-width: 1500px;
    margin: 10px auto 10px;
    line-height: 1.4;
}